[Unit]
Description=Morfo analyzer

[Service]
Type=simple
ExecStart=/home/pudgy/src/pudgy.ru/FreeLingServer/freelingcrow
Restart=on-failure

[Install]
WantedBy=multi-user.target